In [1]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
# mean_absolute_error, r2_score

In [2]:
df = pd.read_csv('../datasets/calories_pred.csv')
df

# X = df.drop(columns=['Calories','Unnamed: 0', 'User_ID'])
# y = df['Calories']
# y.shape

,Unnamed: 0,User_ID,Gender,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
0,0,14733363,male,68,190.0,94.0,29.0,105.0,40.8,231.0
1,1,14861698,female,20,166.0,60.0,14.0,94.0,40.3,66.0
2,2,11179863,male,69,179.0,79.0,5.0,88.0,38.7,26.0
3,3,16180408,female,34,179.0,71.0,13.0,100.0,40.5,71.0
4,4,17771927,female,27,154.0,58.0,10.0,81.0,39.8,35.0
...,...,...,...,...,...,...,...,...,...,...
14995,14995,15644082,female,20,193.0,86.0,11.0,92.0,40.4,45.0
14996,14996,17212577,female,27,165.0,65.0,6.0,85.0,39.2,23.0
14997,14997,17271188,female,43,159.0,58.0,16.0,90.0,40.1,75.0
14998,14998,18643037,male,78,193.0,97.0,2.0,84.0,38.3,11.0
14999,14999,11751526,male,63,173.0,79.0,18.0,92.0,40.5,98.0

In [3]:
# X.head()
# df['Calories'].head()

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import mean_absolute_error, r2_score, mean_squared_error

X = df.drop(columns=['Calories', 'Unnamed: 0', 'User_ID'])
y = df['Calories']


le = LabelEncoder()
X['Gender'] = le.fit_transform(X['Gender'])

scaler = StandardScaler()

num_cols = ['Age', 'Height', 'Weight', 'Duration', 'Heart_Rate', 'Body_Temp']

X[num_cols] = scaler.fit_transform(X[num_cols])

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [7]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)
# y_train.shape
# X_test.shape
# y_test.shape

(12000, 7)
(12000,)
(3000, 7)
(3000,)

In [11]:
lr = LinearRegression()
lr.fit(X_train, y_train)

prd = lr.predict(X_test)

In [12]:
mae = mean_absolute_error(y_test, prd)
mse = mean_squared_error(y_test, prd)
r2 = r2_score(y_test, prd)
print(mae)
print(mse)
print(r2)

8.44151355384971
131.99574575081698
0.9672937151257295

In [14]:
import joblib
joblib.dump(lr, 'linear_reg.pkl')

['linear_reg.pkl']