In [12]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.svm import SVR
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error


# Chargement du dataset
df = pd.read_csv('../datasets/calories_pred.csv')
df

       Unnamed: 0   User_ID  Gender  Age  Height  Weight  Duration  Heart_Rate  Body_Temp  Calories
0               0  14733363    male   68   190.0    94.0      29.0       105.0       40.8     231.0
1               1  14861698  female   20   166.0    60.0      14.0        94.0       40.3      66.0
2               2  11179863    male   69   179.0    79.0       5.0        88.0       38.7      26.0
3               3  16180408  female   34   179.0    71.0      13.0       100.0       40.5      71.0
4               4  17771927  female   27   154.0    58.0      10.0        81.0       39.8      35.0
...           ...       ...     ...  ...     ...     ...       ...         ...        ...       ...
14995       14995  15644082  female   20   193.0    86.0      11.0        92.0       40.4      45.0
14996       14996  17212577  female   27   165.0    65.0       6.0        85.0       39.2      23.0
14997       14997  17271188  female   43   159.0    58.0      16.0        90.0       40.1      75.0
14998       14998  18643037    male   78   193.0    97.0       2.0        84.0       38.3      11.0
14999       14999  11751526    male   63   173.0    79.0      18.0        92.0       40.5      98.0

[15000 rows x 10 columns]

In [13]:
#pretraitement
X = df.drop(columns=['Calories', 'Unnamed: 0', 'User_ID'])
y = df['Calories']


le = LabelEncoder()
X['Gender'] = le.fit_transform(X['Gender'])

scale = StandardScaler()

cols = ['Age', 'Height', 'Weight', 'Duration', 'Heart_Rate', 'Body_Temp']

X[cols] = scale.fit_transform(X[cols])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [14]:
print("en cours ...")
svr_model = SVR(kernel='rbf', C=100, gamma=0.1, epsilon=0.1)
svr_model.fit(X_train, y_train)
print("termine")

en cours ...
termine

In [15]:
pred_svr = svr_model.predict(X_test)

r2_svr = r2_score(y_test, pred_svr)
mae_svr = mean_absolute_error(y_test, pred_svr)
mse_svr = mean_squared_error(y_test, pred_svr)
print(f"\n--- SVR ---")
print(f"R2 score : {r2_svr}")
print(f"mae      : {mae_svr} calories")
print(f"mse      : {mse_svr} calories")

--- SVR ---
R2 score : 0.9999617194778979
mae      : 0.29501073510743936 calories
mse      : 0.15449220484729126 calories

In [16]:
import joblib
joblib.dump(svr_model, 'svr_reg.pkl')

['svr_reg.pkl']